In [8]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from datetime import datetime

In [ ]:
trainn=pd.read_csv("train.csv")

In [ ]:
trainn

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

a) Look for the missing values in all the columns and either impute them (replace with mean,
median, or mode) or drop them. Justify your action for this task.

In [ ]:
missing_data = trainn.isnull().sum()
print(missing_data) # Checking for missing values

miss_col = []
for col, value in missing_data.items():
    if value > 0:
        miss_col.append(col)

print("Columns with missing values:", miss_col)

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64
Columns with missing values: ['Mileage', 'Engine', 'Power', 'Seats', 'New_Price']

In [ ]:
for col in miss_col:
    if trainn[col].dtype == 'object':
        trainn[col].fillna(trainn[col].mode()[0], inplace=True)
    else:
        trainn[col].fillna(trainn[col].mean(), inplace=True)

In [ ]:
trainn.info

<bound method DataFrame.info of       Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage  \
0                 41000    Diesel       Manual      First  19.67 kmpl
1                 46000    Petrol       Manual      First    13 km/kg
2                 87000    Diesel       Manual      First  20.77 kmpl
3                 40670    Diesel    Automatic     Second   15.2 kmpl
4                 86999    Diesel       Manual      First  23.08 kmpl
...                 ...       ...          ...        ...         ...
5842              27365    Diesel       Manual      First   28.4 kmpl
5843             100000    Diesel       Manual      First   24.4 kmpl
5844              55000    Diesel       Manual     Second   14.0 kmpl
5845              46000    Petrol       Manual      First   18.9 kmpl
5846              47000    Diesel       Manual      First  25.44 kmpl

       Engine      Power  Seats  New_Price  Price
0     1582 CC  126.2 bhp    5.0  4.78 Lakh  12.50
1     1199 CC   88.7 bhp    5.0  8.61 Lakh   4.50
2     1248 CC  88.76 bhp    7.0  4.78 Lakh   6.00
3     1968 CC  140.8 bhp    5.0  4.78 Lakh  17.74
4     1461 CC   63.1 bhp    5.0  4.78 Lakh   3.50
...       ...        ...    ...        ...    ...
5842  1248 CC     74 bhp    5.0  7.88 Lakh   4.75
5843  1120 CC     71 bhp    5.0  4.78 Lakh   4.00
5844  2498 CC    112 bhp    8.0  4.78 Lakh   2.90
5845   998 CC   67.1 bhp    5.0  4.78 Lakh   2.65
5846   936 CC   57.6 bhp    5.0  4.78 Lakh   2.50

[5847 rows x 14 columns]>

b) Remove the units from some of the attributes and only keep the numerical values (for
example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from
“New_price”).

car_data['Mileage'] = car_data['Mileage'].str.extract('(\d+.\d+)').astype(float)
car_data['Engine'] = car_data['Engine'].str.replace(' CC', '').astype(int)
car_data['Power'] = car_data['Power'].str.extract('(\d+.\d+)').astype(float)
car_data['New_Price'] = car_data['New_Price'].str.extract('(\d+.\d+)').astype(float)

In [ ]:
trainn['Mileage'] = trainn['Mileage'].str.extract('(\d+.\d+)').astype(float)
trainn['Engine'] = trainn['Engine'].str.replace(' CC', '').astype(int)
trainn['Power'] = trainn['Power'].str.extract('(\d+.\d+)').astype(float)
trainn['New_Price'] = trainn['New_Price'].str.extract('(\d+.\d+)').astype(float)

In [ ]:
trainn.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582,126.20,5.0,4.78,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,NaN,1199,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248,88.76,7.0,4.78,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968,140.80,5.0,4.78,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461,63.10,5.0,4.78,3.50

C) Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot
encoded value.

In [ ]:
labelling = LabelEncoder()
trainn['Fuel_Type_Label'] = labelling.fit_transform(trainn['Fuel_Type'])
trainn['Transmission_Label'] = labelling.fit_transform(trainn['Transmission'])

onehot_encoder = OneHotEncoder(sparse=False)

fuel_type = onehot_encoder.fit_transform(trainn[['Fuel_Type_Label']])
transmission = onehot_encoder.fit_transform(trainn[['Transmission_Label']])

fuel_type_df = pd.DataFrame(fuel_type, columns=['Fuel_Type_' + str(i) for i in range(fuel_type.shape[1])])
transmission_df = pd.DataFrame(transmission, columns=['Transmission_' + str(i) for i in range(transmission.shape[1])])

trainn = pd.concat([trainn, fuel_type_df, transmission_df], axis=1)

trainn.drop(['Fuel_Type', 'Transmission', 'Fuel_Type_Label', 'Transmission_Label'], axis=1, inplace=True)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [ ]:
trainn

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_0,Fuel_Type_1,Fuel_Type_2,Transmission_0,Transmission_1
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582,126.20,5.0,4.78,12.50,1.0,0.0,0.0,0.0,1.0
1,2,Honda Jazz V,Chennai,2011,46000,First,NaN,1199,88.70,5.0,8.61,4.50,0.0,0.0,1.0,0.0,1.0
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248,88.76,7.0,4.78,6.00,1.0,0.0,0.0,0.0,1.0
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968,140.80,5.0,4.78,17.74,1.0,0.0,0.0,1.0,0.0
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461,63.10,5.0,4.78,3.50,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248,NaN,5.0,7.88,4.75,1.0,0.0,0.0,0.0,1.0
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120,NaN,5.0,4.78,4.00,1.0,0.0,0.0,0.0,1.0
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498,112.00,8.0,4.78,2.90,1.0,0.0,0.0,0.0,1.0
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998,67.10,5.0,4.78,2.65,0.0,0.0,1.0,0.0,1.0
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936,57.60,5.0,4.78,2.50,1.0,0.0,0.0,0.0,1.0

d) Create one more feature and add this column to the dataset (you can use mutate function in
R for this). For example, you can calculate the current age of the car by subtracting “Year” value
from the current year.

In [ ]:
current_year = datetime.now().year
trainn['Current_Age'] = current_year - trainn['Year']
trainn

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_0,Fuel_Type_1,Fuel_Type_2,Transmission_0,Transmission_1,Current_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582,126.20,5.0,4.78,12.50,1.0,0.0,0.0,0.0,1.0,9
1,2,Honda Jazz V,Chennai,2011,46000,First,NaN,1199,88.70,5.0,8.61,4.50,0.0,0.0,1.0,0.0,1.0,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248,88.76,7.0,4.78,6.00,1.0,0.0,0.0,0.0,1.0,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968,140.80,5.0,4.78,17.74,1.0,0.0,0.0,1.0,0.0,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461,63.10,5.0,4.78,3.50,1.0,0.0,0.0,0.0,1.0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248,NaN,5.0,7.88,4.75,1.0,0.0,0.0,0.0,1.0,10
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120,NaN,5.0,4.78,4.00,1.0,0.0,0.0,0.0,1.0,9
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498,112.00,8.0,4.78,2.90,1.0,0.0,0.0,0.0,1.0,12
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998,67.10,5.0,4.78,2.65,0.0,0.0,1.0,0.0,1.0,11
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936,57.60,5.0,4.78,2.50,1.0,0.0,0.0,0.0,1.0,13

e) Perform select, filter, rename, mutate, arrange and summarize with group by operations (or
their equivalent operations in python) on this dataset.

In [ ]:
selected = trainn[['Name', 'Year', 'Mileage']]#select
print(selected)

                                  Name  Year  Mileage
0     Hyundai Creta 1.6 CRDi SX Option  2015    19.67
1                         Honda Jazz V  2011      NaN
2                    Maruti Ertiga VDI  2012    20.77
3      Audi A4 New 2.0 TDI Multitronic  2013    15.20
4               Nissan Micra Diesel XV  2013    23.08
...                                ...   ...      ...
5842                  Maruti Swift VDI  2014    28.40
5843          Hyundai Xcent 1.1 CRDi S  2015    24.40
5844             Mahindra Xylo D4 BSIV  2012    14.00
5845                Maruti Wagon R VXI  2013    18.90
5846             Chevrolet Beat Diesel  2011    25.44

[5847 rows x 3 columns]

In [ ]:
filtered_data = trainn[trainn['Location'] == 'Coimbatore']#filtered Data
print(filtered_data)

      Unnamed: 0                                       Name    Location  Year  \
3              4            Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
32            34              Volkswagen Vento 1.6 Highline  Coimbatore  2014
40            42  Mahindra KUV 100 mFALCON D75 K8 Dual Tone  Coimbatore  2017
65            67   Mercedes-Benz C-Class Progressive C 220d  Coimbatore  2019
72            74                           Honda Brio VX AT  Coimbatore  2016
...          ...                                        ...         ...   ...
5805        5975                Hyundai i20 Asta Option 1.2  Coimbatore  2017
5818        5989                Audi A4 35 TDI Premium Plus  Coimbatore  2013
5832        6004                           Hyundai Getz GLE  Coimbatore  2007
5840        6012        Toyota Innova 2.5 V Diesel 7-seater  Coimbatore  2011
5841        6013                      Honda Amaze VX i-DTEC  Coimbatore  2015

      Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  New_Price  \
3                 40670     Second    15.20    1968  140.80    5.0       4.78
32                55431     Second    16.09    1598  103.50    5.0      12.33
40                22033      First    25.32    1198     NaN    6.0       4.78
65                15369      First     0.00    1950  194.00    5.0      49.14
72                37300     Second    16.50    1198   86.80    5.0       4.78
...                 ...        ...      ...     ...     ...    ...        ...
5805              14618      First    18.60    1197   81.83    5.0       4.78
5818              58629     Second    18.25    1968  187.74    5.0      53.14
5832              66800      First    15.30    1341     NaN    5.0       4.78
5840              45004      First    12.80    2494  102.00    7.0       4.78
5841              70602      First    25.80    1498   98.60    5.0       4.78

      Price  Fuel_Type_0  Fuel_Type_1  Fuel_Type_2  Transmission_0  \
3     17.74          1.0          0.0          0.0             1.0
32     6.98          0.0          0.0          1.0             0.0
40     5.58          1.0          0.0          0.0             0.0
65    35.67          1.0          0.0          0.0             1.0
72     6.46          0.0          0.0          1.0             1.0
...     ...          ...          ...          ...             ...
5805   8.11          0.0          0.0          1.0             0.0
5818  16.52          1.0          0.0          0.0             1.0
5832   2.20          0.0          0.0          1.0             0.0
5840   9.48          1.0          0.0          0.0             0.0
5841   4.83          1.0          0.0          0.0             0.0

      Transmission_1  Current_Age
3                0.0           11
32               1.0           10
40               1.0            7
65               0.0            5
72               0.0            8
...              ...          ...
5805             1.0            7
5818             0.0           11
5832             1.0           17
5840             1.0           13
5841             1.0            9

[631 rows x 18 columns]

In [ ]:
trainn = trainn.rename(columns={'New_Price': 'NewPriceeeCAR'})#rename
trainn

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,NewPriceeeCAR,Price,Fuel_Type_0,Fuel_Type_1,Fuel_Type_2,Transmission_0,Transmission_1,Current_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582,126.20,5.0,4.78,12.50,1.0,0.0,0.0,0.0,1.0,9
1,2,Honda Jazz V,Chennai,2011,46000,First,NaN,1199,88.70,5.0,8.61,4.50,0.0,0.0,1.0,0.0,1.0,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248,88.76,7.0,4.78,6.00,1.0,0.0,0.0,0.0,1.0,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968,140.80,5.0,4.78,17.74,1.0,0.0,0.0,1.0,0.0,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461,63.10,5.0,4.78,3.50,1.0,0.0,0.0,0.0,1.0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248,NaN,5.0,7.88,4.75,1.0,0.0,0.0,0.0,1.0,10
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120,NaN,5.0,4.78,4.00,1.0,0.0,0.0,0.0,1.0,9
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498,112.00,8.0,4.78,2.90,1.0,0.0,0.0,0.0,1.0,12
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998,67.10,5.0,4.78,2.65,0.0,0.0,1.0,0.0,1.0,11
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936,57.60,5.0,4.78,2.50,1.0,0.0,0.0,0.0,1.0,13

In [ ]:
trainn['Increseprice'] =  trainn['NewPriceeeCAR']- trainn['Price']
trainn

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,NewPriceeeCAR,Price,Fuel_Type_0,Fuel_Type_1,Fuel_Type_2,Transmission_0,Transmission_1,Current_Age,Increseprice
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582,126.20,5.0,4.78,12.50,1.0,0.0,0.0,0.0,1.0,9,-7.72
1,2,Honda Jazz V,Chennai,2011,46000,First,NaN,1199,88.70,5.0,8.61,4.50,0.0,0.0,1.0,0.0,1.0,13,4.11
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248,88.76,7.0,4.78,6.00,1.0,0.0,0.0,0.0,1.0,12,-1.22
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968,140.80,5.0,4.78,17.74,1.0,0.0,0.0,1.0,0.0,11,-12.96
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461,63.10,5.0,4.78,3.50,1.0,0.0,0.0,0.0,1.0,11,1.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248,NaN,5.0,7.88,4.75,1.0,0.0,0.0,0.0,1.0,10,3.13
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120,NaN,5.0,4.78,4.00,1.0,0.0,0.0,0.0,1.0,9,0.78
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498,112.00,8.0,4.78,2.90,1.0,0.0,0.0,0.0,1.0,12,1.88
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998,67.10,5.0,4.78,2.65,0.0,0.0,1.0,0.0,1.0,11,2.13
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936,57.60,5.0,4.78,2.50,1.0,0.0,0.0,0.0,1.0,13,2.28

In [ ]:
sorted_data = trainn.sort_values(by='Year', ascending=True)
sorted_data#arrange

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,NewPriceeeCAR,Price,Fuel_Type_0,Fuel_Type_1,Fuel_Type_2,Transmission_0,Transmission_1,Current_Age,Increseprice
5558,5716,Maruti Zen LX,Jaipur,1998,95150,Third,17.30,993,NaN,5.0,4.78,0.53,0.0,0.0,1.0,0.0,1.0,26,4.25
3039,3138,Maruti Zen LXI,Jaipur,1998,95150,Third,17.30,993,NaN,5.0,4.78,0.45,0.0,0.0,1.0,0.0,1.0,26,4.33
3630,3749,Mercedes-Benz E-Class 250 D W 210,Mumbai,1998,55300,First,10.00,1796,157.70,5.0,4.78,3.90,1.0,0.0,0.0,1.0,0.0,26,0.88
1791,1845,Honda City 1.3 EXI,Pune,1999,140000,First,13.00,1343,NaN,5.0,4.78,0.90,0.0,0.0,1.0,0.0,1.0,25,3.88
1185,1224,Maruti Zen VX,Jaipur,1999,70000,Second,17.30,993,NaN,5.0,4.78,0.77,0.0,0.0,1.0,0.0,1.0,25,4.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4956,5102,Maruti Wagon R VXI,Kochi,2019,31817,First,22.50,998,67.04,5.0,5.12,5.34,0.0,0.0,1.0,0.0,1.0,5,-0.22
5712,5875,Mercedes-Benz C-Class Progressive C 220d,Ahmedabad,2019,4000,First,0.00,1950,194.00,5.0,49.14,35.00,1.0,0.0,0.0,1.0,0.0,5,14.14
1486,1534,Honda City i VTEC VX Option,Coimbatore,2019,23882,First,17.40,1497,117.30,5.0,4.78,11.87,0.0,0.0,1.0,0.0,1.0,5,-7.09
4319,4452,Toyota Innova Crysta 2.8 GX AT,Kochi,2019,14076,First,11.36,2755,171.50,7.0,20.74,19.40,1.0,0.0,0.0,1.0,0.0,5,1.34
2511,2595,Tata Tiago AMT 1.2 Revotron XZA,Coimbatore,2019,15379,First,23.84,1199,83.83,5.0,7.17,6.97,0.0,0.0,1.0,1.0,0.0,5,0.20

In [ ]:
grouped_summary = trainn.groupby('Year').agg(Average_MPG=('Kilometers_Driven', 'mean'))
print(grouped_summary)

        Average_MPG
Year
1998   81866.666667
1999  105000.000000
2000  112500.000000
2001  139988.600000
2002   76525.916667
2003   83541.312500
2004   93334.555556
2005   91923.204545
2006  100090.246377
2007   87023.377358
2008   84221.601227
2009   80159.549223
2010   74290.439394
2011   69366.615385
2012   69002.467742
2013   64783.952456
2014   56659.849490
2015   53092.572207
2016   43209.016349
2017   44863.365979
2018   24052.734694
2019   20008.831683

In [ ]:
trainn.to_csv('clean_cars.csv', index=False)